html {
}

body {
	font-family: Quicksand, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin: 0;
	padding: 0;
}

h4, h5 {
	margin: 2px;
}

button, input, select, textarea {
	font-family : inherit;
	font-size   : 100%;
}

main {
	text-align: center;
	background-color: #fafafa;
}

a {
	color: black;
	text-decoration: none;
}

.b {
	font-weight: bold;
}

.none {
	display: none;
}

.button {
	border: none;
	border-radius: 2px;
	padding: 10px;
	box-shadow: 1px 1px 1px grey;
}

.button-green {
	background-color: rgb(0, 160, 8);
	color: white;
}

.button-red {
	background-color: rgba(255, 3, 0, 0.71);
	color: white;
}

hr {
	border-top: 1px solid #e5e5e5;
}
